$padding-label: 8px;
$border-radius-label: 15px;

.label {
  font-weight: bold;
  font-size: 0.9rem;
  .success {
    color: #49a54c;
    padding: $padding-label;
    border-radius: $border-radius-label;
  }
  .failed {
    color: #f44336;
    padding: $padding-label;
    border-radius: $border-radius-label;
  }
}
