$primary-background-color: #10111F;
$font-stack: "Madefor Display";
$secondary-focus-color: rgba(149, 83, 241, 1);
$secondary-focus-color-hover: rgba(187, 149, 241, 1);
$remove-color: #eac550;
$remove-color-hover: rgb(134, 129, 129);
$add-color: rgb(134, 129, 129);
$add-color-hover: #eac550;